/*RESET DA PÁGINA*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{
	background: #FAFAFA;
	min-height: 100vh;
}

li{
	list-style: none;
}

/*CLASSES GLOBAIS*/
.container{
	padding: 64px 130px 0px 130px;
}

.header, .header-list, .footer, .footer-list{
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header__logo-dark{

}

.header-nav{
}

.header-list{
	width: 240px;
}

.header-list__item, .footer-list__item{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*
.about-me{
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 150px;
	margin-bottom: 150px;
}

.about-me__description{
	margin-left: 140px;
	max-width: 430px;
}*/

.about-me__title{
	margin-top: 50px;
	margin-bottom: 28px;
}

.about-me__title, .interest__p, .title{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;

	line-height: 42px;
	letter-spacing: -0.357143px;
}

/*.about-me__p{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;

	line-height: 30px;
	
	mix-blend-mode: normal;
	margin-bottom: 24px;

	opacity: 0.8;

	text-align: left;
}*/

/*.about-me__resume{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 28px;
	margin-bottom: 46px;
}*/

.goto__portfolio, .goto__project, .btn-visitar, .interest__btn{
	border: 1px solid #33323D;
}

.global-hr{
	background: #33323D;
	mix-blend-mode: normal;
	opacity: 0.15;
}

.interest{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-bottom: 150px;
}

.interest__p{
	max-width: 370px;
}

.interest__btn{
	width: 170px;
	padding: 17px 50px;
}

.interest__btn:hover{
	color: #FAFAFA;
	background: #33323D;
}

.btn-description-style{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	
	line-height: 14px;
	letter-spacing: 2px;

	text-transform: uppercase;
	text-align: center;
}

.footer{
	padding: 24px 130px;
}

.footer-left-group{
	width: 400px;
}

.footer-list{
	max-width: 300px;
	flex-grow: 2;
}

.footer-social-midia{
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 104px;
}

/*CLASSES GLOBAIS PARA PORTFOLIOS*/

/*CLASSES*/

.hero{
	margin-top: 94px;
}

.hero__image{
	max-width: 1110px;
	max-height: 500px;

	margin-bottom: 115px;
}

.project-description{
	display: flex;
	justify-content: space-between;
}

.description{
	display: flex;
	flex-direction: column;

	padding-right: 125px;
	width: 475px;
}

.project-presentation{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 635px;
}

.description__title, .project-previo-titles{
	font-style: normal;
	line-height: 42px;
}

.description__title{
	font-weight: bold;
	font-size: 40px;

	letter-spacing: -0.357143px;

	margin-top: 48px;
	margin-bottom: 29px;
}

.project-previo-titles{
	font-weight: normal;
	font-size: 32px;

	letter-spacing: -0.285714px;

	margin-bottom: 28px;
}

.description__p, .description span{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;

	line-height: 30px;
}

.description span{
	color: #5FB4A2;
	margin-bottom: 16px;
}

.btn-visitar{
	width: 178px;
	padding: 17px 60px;

	margin-top: 32px;
	margin-bottom: 48px;
}

.description__p{
	mix-blend-mode: normal;
	margin-bottom: 53px;

	opacity: 0.8;
}

.figure{
	height: 400px;
	margin-bottom: 32px;
	width: 635px;
}

.figure > img{
	width: 100%;
    height: 100%; 
    object-fit: contain;
}

.nav-between-projects{
	margin-top: 64px;
	margin-bottom: 115px;
}

.container-arrow-direction{
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
	margin-bottom: 32px;
}

.item-flex{
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 162px;
}

.arrow-icon{

}

.arrow-to-project{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.project-name{
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	
	line-height: 36px;
	letter-spacing: -0.285714px;
}

.arrow-to-project span{
	color: #33323D;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	
	line-height: 30px;

	mix-blend-mode: normal;

	opacity: 0.5;
}

.align-items-right{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: right;
}

/*CLASSES UTILITÁRIAS GLOBAIS*/

.font-ibarra-real{
	font-family: 'Ibarra Real Nova', serif;
}

.font-public-sans{
	font-family: 'Public Sans', sans-serif;
}

.background-cyan{
	background: #5FB4A2;
}

.color-cyan{
	color: #5FB4A2;
}

.background-dark-blue{
	background: #203A4C;
}

.color-dark-blue{
	color: #203A4C;
}

.background-g-dark-blue{
	background: #33323D;
}

.color-g-dark-blue{
	color: #33323D;
}

.background-very-light-grey{
	background: #FAFAFA;
}
.color-very-light-grey{
	color: #FAFAFA;
}

.background-light-grey{
	background: #EAEAEB;
}

.color-light-grey{
	color: #EAEAEB;
}

.background-black{
	background: #000000;
}

.color-black{
	color: #000000;
}

.background-white{
	background: #FFFFFF;
}

.color-white{
	color: #FFFFFF;
}